.advantages {
  background-color: white;
  color: black;
}

.advantages_wrapper {
  width: 280px;
}

.advantages__sentence {
  margin-top: 0;
  font-weight: 300;
  font-size: 24px;
}

.advantages__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.advantages__description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 0;
}
