.main-nav {
  flex-basis: 100%;
  @media (max-width: @desktop-width) {
    display: none;
  }
  @media (min-width: @desktop-width) {
    flex-basis: 50%;
  }
}

.main-nav__list {
  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.main-nav__item {
  @media (min-width: @desktop-width) {
    width: 150px;
  }
}

.main-nav__item-link {
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
}
