.page-header {
  background-color: #283645;
  min-height: 66px;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @media (min-width: @tablet-width) {
    min-height: 110px;
    width: 620px;
  }
  @media (min-width: @desktop-width) {
    width: 1160px;
    min-height: 110px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
}

.page-header__logo {
  @media (min-width: @desktop-width) {
    padding-left: 100px;
  }
}

.page-header__toggle {
  height: 30px;
  @media (min-width: @desktop-width) {
    display: none;
  }
}
