body {
  font-family: "Open Sans", "Arial", sans-serif;
  text-align: center;
  width: 320px;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
}
